[submodule "ext/SPIRV-Cross"]
	path = ext/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/plf_colony"]
	path = ext/plf_colony
	url = https://github.com/mattreecebentley/plf_colony
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ext/glm"]
	path = ext/glm
	url = https://github.com/g-truc/glm
[submodule "ext/stb"]
	path = ext/stb
	url = https://github.com/nothings/stb
[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/ocornut/imgui
[submodule "ext/Mustache"]
	path = ext/Mustache
	url = https://github.com/kainjow/Mustache
[submodule "ext/Catch2"]
	path = ext/Catch2
	url = https://github.com/catchorg/Catch2
[submodule "ext/ImGuiColorTextEdit"]
	path = ext/ImGuiColorTextEdit
	url = https://github.com/martty/ImGuiColorTextEdit
[submodule "ext/ImGui-Addons"]
	path = ext/ImGui-Addons
	url = https://github.com/gallickgunner/ImGui-Addons
[submodule "ext/tinygltf"]
	path = ext/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "ext/robin-hood-hashing"]
	path = ext/robin-hood-hashing
	url = https://github.com/martinus/robin-hood-hashing
[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/doctest/doctest
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
