[submodule "ext/SPIRV-Cross"]
	path = ext/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "ext/VulkanMemoryAllocator"]
	path = ext/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "ext/concurrentqueue"]
	path = ext/concurrentqueue
	url = https://github.com/cameron314/concurrentqueue
[submodule "ext/doctest"]
	path = ext/doctest
	url = https://github.com/doctest/doctest
[submodule "ext/fmt"]
	path = ext/fmt
	url = https://github.com/fmtlib/fmt
