name: CMake

on: [push, pull_request, workflow_dispatch]

env:
  BUILD_TYPE: Release
  VULKAN_VERSION: 1.3.296.0
  LLVM_MACOS_VERSION: 21

jobs:
  linux-build:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        config:
          - cc: gcc-13
            cxx: g++-13
          - cc: gcc-14
            cxx: g++-14
          - cc: clang-17
            cxx: clang++-17
          - cc: clang-18
            cxx: clang++-18
          - cc: clang-19
            cxx: clang++-19

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - run: |
        sudo apt-get update
        sudo apt-get install -y xorg-dev ${{matrix.config.cc}}

    - name: Setup Vulkan SDK
      uses: kociap/setup-vulkan-sdk@v1.0
      with:
           vulkan-query-version: ${{ env.VULKAN_VERSION }}
           vulkan-components: Vulkan-Headers, Vulkan-Loader, shaderc
           vulkan-use-cache: true

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DCMAKE_CXX_COMPILER=${{matrix.config.cxx}} \
          -DCMAKE_C_COMPILER=${{matrix.config.cc}} \
          -DVUK_BUILD_EXAMPLES=ON \
          -DVUK_BUILD_TESTS=ON \
          -DVUK_USE_DXC=OFF

    - name: Build
      run: cmake --build ${{github.workspace}}/build

  windows-build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Setup Vulkan SDK
      uses: kociap/setup-vulkan-sdk@v1.0
      with:
           vulkan-query-version: ${{ env.VULKAN_VERSION }}
           vulkan-components: Vulkan-Headers, Vulkan-Loader, shaderc
           vulkan-use-cache: true

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build `
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} `
          -DVUK_BUILD_EXAMPLES=ON `
          -DVUK_BUILD_TESTS=ON `
          -DVUK_USE_DXC=OFF

    - name: Build
      run: cmake --build ${{github.workspace}}/build

  macos-build:
    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Install LLVM for MacOS
        if: ${{ matrix.platform.os == 'macos' }}
        run: |
          brew install llvm@${{ env.LLVM_MACOS_VERSION }}
          LLVM_PATH=$(brew --prefix llvm@${{ env.LLVM_MACOS_VERSION }})
          echo "LLVM_PATH=$LLVM_PATH" >> $GITHUB_ENV
          echo "PATH=$LLVM_PATH/bin:$PATH" >> $GITHUB_ENV
          echo "LDFLAGS=-L$LLVM_PATH/lib/c++ -Wl,-rpath,$LLVM_PATH/lib/c++ $LDFLAGS" >> $GITHUB_ENV
          echo "CPPFLAGS=-I$LLVM_PATH/include $CPPFLAGS" >> $GITHUB_ENV
          echo "CXXFLAGS=-stdlib=libc++ $CXXFLAGS" >> $GITHUB_ENV

    - name: Setup Vulkan SDK
      uses: kociap/setup-vulkan-sdk@v1.0
      with:
           vulkan-query-version: ${{ env.VULKAN_VERSION }}
           vulkan-components: Vulkan-Headers, Vulkan-Loader, shaderc
           vulkan-use-cache: true

    - name: Configure CMake
      run: |
        cmake -B ${{github.workspace}}/build \
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} \
          -DVUK_BUILD_EXAMPLES=ON \
          -DVUK_BUILD_TESTS=ON \
          -DVUK_USE_DXC=OFF

    - name: Build
      run: cmake --build ${{github.workspace}}/build
